@media (max-width:768px){
    .container{width: 95%;}
    .adres-lict{
        display: none;
    }
    .menu-main{
        display: none;
    }
    .header-nav{
        order: 0;
    }
    .header-top{
        order: 1;
    }
    .header-promo{
        order: 2;
    }
    .burger{
        display: block;
    }
    .servis-item{
        flex: 1 1 45%;
    }

    .point-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 10px;
        margin-top:20px;
    }
    .point-item{
        background: white;
        padding: 15px 15px 10px 15px;
        box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.1);
        transform: rotate(0);
        position: relative;
    
    
    }
    
    .point-item:nth-child(2){
        transform: rotate(0) translateY(0);
    
    }
    .point-item:nth-child(3){
        transform: rotate(0) translateY(0);
    }
    .point-item::after{
        content:'';
        background:none;     
        display: none;
        position: absolute;
    
    }
    .point-item:nth-child(2)::after{
        content:'';
        background:none;     
        display: none;
        position: absolute;
    }
    .point-item:nth-child(3)::after{
        content:'';
        background:none;     
        display: none;
        position: absolute;
    
    }
    .point-item img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .oldmen-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 2vw;
        margin-top: 30px;
    
    }

    .listik{
        position: absolute;
        bottom: 300px;
        right: -10px;
        opacity: 0.5;
        width: 70px;
    }

}